@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639365750972') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mai:before {
  content: "\f001d";
}

.icon-tianjiayonghu:before {
  content: "\e630";
}

.icon-cart:before {
  content: "\f0171";
}

.icon-00743:before {
  content: "\e631";
}

.icon-huore:before {
  content: "\f01f3";
}

.icon-icon0201fuben19:before {
  content: "\e647";
}

.icon-jiaoyijilu:before {
  content: "\e60e";
}

.icon-quanbu-copy:before {
  content: "\e64a";
}

.icon-yonghu:before {
  content: "\e638";
}

.icon-jinpai:before {
  content: "\e62d";
}

.icon-zixun:before {
  content: "\e60a";
}

.icon-04:before {
  content: "\e608";
}

.icon-zhishu:before {
  content: "\e620";
}

.icon-guanyuguwen:before {
  content: "\e635";
}

.icon-weibiaoti5:before {
  content: "\e63f";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-zixun1:before {
  content: "\e730";
}

.icon-trade:before {
  content: "\e603";
}

.icon-huangguan:before {
  content: "\e798";
}

.icon-lishijiaoyi:before {
  content: "\e605";
}

.icon-maichu:before {
  content: "\e618";
}

.icon-niu:before {
  content: "\e642";
}

.icon-chedan:before {
  content: "\e610";
}

.icon-diannao_o:before {
  content: "\eb49";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-baoben:before {
  content: "\e612";
}

.icon-fenxi:before {
  content: "\e601";
}

.icon-jiekuanqixian:before {
  content: "\e6ab";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-jijin:before {
  content: "\e60d";
}

.icon-guangfashangmao:before {
  content: "\e732";
}

.icon-chicangguanli:before {
  content: "\e6c9";
}

.icon-jiaoyijilu1:before {
  content: "\e694";
}

.icon-guangfahuankuanchaxun:before {
  content: "\e77a";
}

.icon-qianbi:before {
  content: "\e60b";
}

.icon-data:before {
  content: "\e602";
}

.icon-chaxun:before {
  content: "\e677";
}

.icon-NEW-copy:before {
  content: "\e889";
}

.icon-xiaotianyan:before {
  content: "\e636";
}

.icon-peizhitubiaosvg-:before {
  content: "\e662";
}

.icon-xin:before {
  content: "\e653";
}

.icon-data-view:before {
  content: "\e66a";
}

.icon-guanyuguangfa-moren:before {
  content: "\e70a";
}

.icon-huobi-jinbi:before {
  content: "\e60f";
}

